# Copy to .env and fill in

# Folder for the apps' config, media folder, download folder
LOCAL_PATH=<LOCAL_PATH>
NAS_PATH=<NAS_PATH>
DOWNLOAD_PATH=<DOWNLOAD_PATH>

# id -u / id -g
PUID=1000
PGID=1000
# e.g. Europe/Rome
TZ=<TZ>

# e.g. http://jellyfin.example.home
JELLYFIN_PUBLISHEDSERVERURL=<JELLYFIN_PUBLISHEDSERVERURL>

PIHOLE_PSW=<PIHOLE_PSW>
SONARR_APIKEY=<SONARR_APIKEY>

# getent group render | cut -d: -f3
RENDER_GID=<RENDER_GID>

# Server LAN IP
SERVER_IP=<SERVER_IP>
# https://login.tailscale.com/admin/settings/keys
TS_AUTHKEY=<TS_AUTHKEY>
